@model SatışÖrnek.Models.Notlar
@{
    ViewData["Title"] = "Düzenle";
    Layout = "~/Admin/Index.cshtml";
}

@using(Html.BeginForm("Düzenle","Not",method:FormMethod.Post))
{

    <div>
        <label>Ders Seçiniz</label>
        @Html.DropDownListFor(m => m.Ders.DersId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })

    </div>
    <div>
        <label>Ogrenci Seçiniz</label>
        @Html.DropDownListFor(x => x.Ogrenci.OgrenciId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })

    </div>
    <div>
        <label>Sınav1</label>
        @Html.TextBoxFor(x => x.Sınav1, new { @class = "form-control" })

    </div>
    <div>
        <label>Sınav2</label>
        @Html.TextBoxFor(x => x.Sınav2, new { @class = "form-control" })

    </div>
    <div>
        <label>Sınav3</label>
        @Html.TextBoxFor(x => x.Sınav3, new { @class = "form-control" })

    </div>
    <div>
        <label>Sınav3</label>
        @Html.TextBoxFor(x => x.Proje, new { @class = "form-control" })

    </div>
    <div>
        <label>Ortalama</label>
        @Html.TextBoxFor(x => x.Ortalama, new {@Value=@ViewBag.ort, @class = "form-control" })

    </div>
    @Html.HiddenFor(x=>x.NotId)

      
    <div>
        <button class="btn btn-info">Oğrenci Güncelle</button>

    </div>
}



